{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "react-app",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jest/recommended",
    "prettier-standard"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["react", "@typescript-eslint", "react-hooks", "prettier"],
  "rules": {
    "no-use-before-define": "off",
    "react/react-in-jsx-scope": "off",
    "react/no-unknown-property": [
      2,
      {
        "ignore": ["jsx", "global"]
      }
    ]
  }
}
