.badge-wrapper {
  height: 28px;
  display: inline-flex;
}

.badge-wrapper > p {
  background: #555;
  color: #fff;
  font-family: Verdana, Geneva, "DejaVu Sans", sans-serif;
  line-height: 28px;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 0 8px;
  margin: 0;
}

.badge-wrapper .badge-label {
  text-transform: uppercase;
}
