.header-flex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 120px;
  text-align: center;
}

.github-corner {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
}

.github-corner svg {
  fill: #151513;
  color: #fff;
  width: 100%;
  height: 100%;
}

.github-corner:hover svg .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
