.mainWrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.loadingWrapper {
  height: 70vh;
  display: grid;
  place-content: center;
}

@media (max-width: 640px) {
  .mainWrapper {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
