.repoWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
}

.repoInputContainer {
  width: 40vw;
  min-width: 300px;
}
